@media (min-width: 700px) {
    body{
        max-width: 700px;
        margin: auto;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }
    section{
        padding: 10px;
    }

    

    
}