h1 {
    text-align: center;
}
.lazy-gallery {
    display: grid;
    grid-gap: 25px;
    align-items: center;
    justify-items: center;
    
}
img{
    border-radius: 4px;
    box-shadow: 5px 5px 10px;
}
article img[data-src] {
    filter: blur(0.2em);
}
  
article img {
    filter: blur(0em);
    transition: filter 0.5s;
}