
/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');*/
*{
	margin: 0;
	box-sizing: border-box;
}

header{
	/*height: 100px;*/
    display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1rem;

	max-width: 100%;
	margin: auto;
    
	
}


nav {
	/*background-color: #2fb623;*/
	text-align: center;
	font-family: "Yaldevi";
	display: block;
	
	
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color:green;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 1.1rem;
	border-top: 1px solid grey;
	
}
nav button{
	margin: .2rem 2%;
	background-color: transparent;
	border: none;
	color:green;
	font-size: 1.6rem;
	
}

footer {
	height: 70px;
	font-size: 1rem;
	font-family: "Yaldevi";
	display: block;
	text-align: center;
	font-weight: bold;
	padding: 16px;
	color: white;
	background-color: green;
	margin-left: 0px;
	
	
}
nav ul li a:hover{
	background-color: green;
	color: white;
}
.logo-image{
	width: 200px;
	border-radius: 3px;
	margin: auto;
	
}
nav ul.hide{
	display: none;
}
/**/

	
.active{
	color: white;
	background-color: green;
	border-top: 1px solid #9ad89a;
	border-radius: 3px 3px 0px 0px;
}



/*hero*/
.hero{
	height: 500px;
}
.hero img{
	width: 100%;
	/*padding-top: 100px;*/
	margin: auto;

}
/*img{
	width: 100%;
}*/

/*history*/
.history{
	margin: 30px;
	
	padding: 20px;
	
	padding-bottom: 1rem;
	box-shadow: 0 4px 16px rgb(0 0 0 / 10%);
	align-content: center;
	text-align: center;
}
.history h1{
	text-align: center;
	color: green;
	font-size: 2.3rem;
	font-family: "Yaldevi";
	padding: 10px;
	
}
.history h2{
	text-align: left;
	font-size: 1.4rem;
	padding: 5px;
	color: green;
	font-family: "yaldevi";
}
.history p{
	text-align: justify;
	padding: 7px;
	line-height: 1.5em;
}


/*directory*/
.directory{
	color: green;
	font-family: "Yaldevi";
	text-align: center;
	padding: 20px;
	border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.25turn, #b8e4be, rgb(0, 128, 0), #b8e4be);
    border-image-slice: 1;
    /*width:100%;*/
	margin-top: 0;
}
.cards img{
	width: 300px;
	height: 150px;
}

.cards{
	display: flex;
    flex-direction: column;
    align-items: center;
	text-align: center;
	margin-top: 5px;
	
	
}
.cards p{
	padding: 5px;

}
.cards h2{
	margin: 2px;
	font-size: 1.5rem;
	font-family: "Yaldevi";
	align-content: space-around;
}

section{
	padding: 5px;
	background-color: gray;
	/*border: 0.5px solid black;*/
	margin: 5px;
	border-radius: 3px;
}
h3{
	font-family: "Yaldevi";
	color: #6119a3;
	margin: 3px;
	font-size: 1rem;
}
/*events*/
article.events{
	margin: 30px;
	
	padding: 20px;
	
	padding-bottom: 1rem;
	box-shadow: 0 4px 16px rgb(0 0 0 / 10%);
	align-content: center;
	text-align: center;
	

}
.events-title{
	display: inline-flex;
	text-align: center;
}
.town-events{
	display: flex;
	align-content: center;
	
}	
.town-events-info{
	
	margin: auto;
	
	padding: 10px;
	margin-bottom: 15px;
}

.h3-title{
	color: black;
	font-size: 1.5rem;
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
	
	background-color: #5f748a;
	border-radius: 3px 3px 0 0;
	border-bottom:1px solid #e9e9f0;
	
	text-align: center;
}
.town-event{
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
section.town-event p{
	font-size: 1.1rem;
	padding: 7px;
	text-align: center;
}
section.town-event{
	padding: 0;
}
.position{
	
	margin: 15px;
	border: 1px solid #bbb;
	padding: 20px;
	background-color: #eee;
	padding-bottom: 1rem;
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
	align-content: center;
	text-align: center;
}	
section h4 {
	font-family: "Yaldevi";
	font-size: 1.8rem;
	font-weight: bold;
}
.article-img{
	width: 250px;
	
}
.article-text{
	text-align: justify;
}
.funder{
	padding: 10px;
	
}
/*5day forecast*/

.title-forecast{
	text-align: center;
}
article.forecast{

	margin: 30px;
	/*padding-bottom: 15px;
	padding-left: 8px;*/
	padding: 20px;
	box-shadow: 0 4px 16px rgb(0 0 0 / 10%);
	/*width: 100%;*/
	align-content: center;
}
	
.flex {
	display: flex;
	flex-flow: row wrap;
	
	width: 100%;
	/*margin: auto;*/
	font-family: "Yaldevi";
	
	margin: auto;
}

.flex-col {
	flex: 0.5 0.5 auto;
	background-color: #dcf1e3;
	
	text-align: center;
	
}
/*.flex-col, .column-col, .grid-col {
	border-top: 1px solid #333 ;
	border-bottom: 1px solid #333;
	border-left: 1px solid #333;
	border-right: 1px solid #333 ;
	text-align: center;

}*/

.col-head {
	display: block;
	padding: 5px;
	/*border-bottom: 1px solid #333;*/
	text-align: center;	
	font-family: "Yaldevi";
}

.week-img {
	border-radius: 100px;
	padding: 0.25rem;
	width: 50px;
}

.data {
	display: block;
	padding: 0 5px 5px;
	font-size: 1rem;
	text-align: center;
	font-family: "Yaldevi";

}
/*contact html*/
.entry-content{
	margin: 100px;
    padding: 20px;
    padding-bottom: 1rem;
    box-shadow: 0 4px 16px rgb(0 0 0 / 10%);
    align-content: center;
    text-align: center;
	margin-top: 10px;
	margin-bottom: 30px;
}
.card{
	border: 1px solid green;
	max-width: 400px;
	border-radius: 5px;
	margin: auto;
	
	margin-bottom: 10px;
}
.card-title{
	font-family: "Yaldevi";
	font-size: 1.1rem;
	padding: 5px;
}
.card-text{
	font-family: "Yaldevi";
	font-size: 1rem;
	padding: 5px;
}

.card-header{
	background: green;
	
	font-family: "Yaldevi";
	font-size: 1.2rem;
	color: white;
	
}
/* form Contact html*/
.form-contact{
	margin: 100px;
    padding: 20px;
    padding-bottom: 1rem;
    box-shadow: 0 4px 16px rgb(0 0 0 / 10%);
    align-content: center;
    text-align: center;
	margin-top: 0;
	

}
.storm-title{
	margin-top: 15px;
	text-align: center;
	color: green;
    font-family: "Yaldevi";
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(
	0.25turn, #b8e4be, rgb(0, 128, 0), #b8e4be);
    border-image-slice: 1;
	margin-top: 0;
}
form fieldset{
	margin: 2rem 0;
	border: 1px solid green;
	border-radius: 10px;
	padding: .5rem 2%;
	
}
form legend{
	color: green;
	margin: 0 1rem;
	padding: 0 .5rem;
	font-family: "Yaldevi";
	font-size: 1.2rem;
}

form label.top{
	display: block;
	padding-top: 1rem;
	color: green;
	font-size: 1rem;
	font-family: "Poppins";
	text-align: left;
}
form label.top input, form label.top select{
	
	display: block;
	font-size: 1rem;	
	border: solid 1px #999;
	border-radius: 4px;
	padding: .75rem;
	color: #555;
	width: 100%;
	max-width: 20rem;
	background-color: rgb(0,0,0, 0.1);
}
form label.sbs{
	display: block;
	padding: 1rem 0;
	color: #555;
	font-family: "Poppins";
}
form input.submitBtn{
	border: none;
	background-color: #5f748a;
	color: white;
	border-radius: 5px;
	padding: .75rem 1.5rem;
	margin: 0 0 2rem 2%;
	width: 96%;
	max-width: 15rem;
	font-family: "Poppins";
}
form label.top input:required{
	border-left: red solid 4px;
}
form label.top input:required:valid{
	border-left: green solid 4px;
}
#information{
	width: 100%;
	min-height: 75px;
	outline: none;
	resize: none;
	font-family: "Poppins";
	font-size: 0.8rem;
}
input{
	margin-top: 10px;
}
select#region.top{
	margin-top: 10px;
}
#ratingvalue{
	display: flex;
	justify-content: center;
	font-size: 1.3rem;
	color: blue;
}
/****thanks*****/
.thanks{
	font-family: "Yaldevi";
	font-size: 1.8rem;
	text-align: center;
	margin-top: 10px;
	padding-top: 100px;
}



  
/*contact*/
#info{
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	text-align: center;
	background-color: #d2dbe4;
	
}
#contact{
	margin: 3px;
}
h4{
	font-family: "Yaldevi";
	margin: 3px;
	padding: 3px;
}
#map{
	margin-top: 5px;
	border-radius: 10px;
	border: #0c0d0e;
	align-content: center;
}
h3.info-head{
	font-size: 1.2rem;
	color: black;
}
h4{
	font-size: 1rem;
}

#contact img{
	
	width: 34px;
	padding: 0;
}
#contact img:hover{
	
	background-color: #ebebf3;
	transform: scale(1.3);
	border-radius: 3px;
	
}
#contact a{
	padding: 5px;
}
/*city*/


