@media only screen and (min-width: 650px) {
    
    
    nav ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }
    h1{
        font-size: 1.8rem;
    }
    nav a:hover{
        background-color: #dbaacc;
        color: #5f748a;
    }
    nav button{
        display: none;
    }
    nav ul.hide{
        display: flex;
    }
    nav ul li a{
        border: none;
        width: max-content;
    }
    
    
    /*lazy gallery*/
    
    
    
    
}
   
    
