
/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');*/


header{
	height: 100px;
    display: flex;
	padding: 1rem;
    align-items: center;
	justify-content: space-around;
	background-color: #dd97eb;
	max-width: 100%;
	margin: 0;
    
}

h1 {
	font-size: 1.4rem;
	font-family: "Poppins";
	padding: 10px;
	margin: auto;
	
}
h2{
	text-align: center;
	font-family: "Poppins";
	font-size: 1.8rem;
	font-weight: bold;
}


p{
	font-size: 1rem;
	font-family: "Yaldevi";
	margin: auto;
		
}

nav {
	background-color: #5f748a;
	text-align: center;
	font-family: "Yaldevi";
	
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 1.1rem;
	border-top: 1px solid rgb(0, 0, 0, 0.3);
	
}
nav button{
	margin: .2rem 2%;
	background-color: transparent;
	border: none;
	color: white;
	font-size: 1.6rem;
}

footer {
	height: 40px;
	font-size: 1rem;
	font-family: "Poppins";
	display: block;
	text-align: center;
	font-weight: bold;
	padding: 16px;
	background-color: #dd97eb ;
	margin-bottom: 0 auto;
	
	
}
nav ul li a:hover{
	background-color: #dbaacc;
	color: #5f748a;
}
.logo-image{
	width: 150px;
}
nav ul.hide{
	display: none;
}

	
.active{
	color: #fbc2e9;
	background-color: #535b64 ;
	border-top: 1px solid white;
	border-radius: 2px;
}
/*form*/
main{
	min-height: 20rem;
	padding: 0 2%;
	margin: auto;
	background-color: #f1f1eb;
	margin-bottom: 10px;
}
.storm-title{
	margin-top: 15px;
	text-align: center;
}
form fieldset{
	margin: 2rem 0;
	border: 1px solid #445ba9;
	border-radius: 10px;
	padding: .5rem 2%;
	
}
form legend{
	color: blue;
	margin: 0 1rem;
	padding: 0 .5rem;
	font-family: "Yaldevi";
	font-size: 1.2rem;
}

form label.top{
	display: block;
	padding-top: 1rem;
	color: blue;
	font-size: 1rem;
	font-family: "Poppins";
}
form label.top input, form label.top select{
	
	display: block;
	font-size: 1rem;	
	border: solid 1px #999;
	border-radius: 4px;
	padding: .75rem;
	color: #555;
	background-color: rgb(0,0,0, 0.1);
}


form label.sbs{
	display: block;
	padding: 1rem 0;
	color: #555;
	font-family: "Poppins";
	margin-left: 5px;
}
form input.submitBtn{
	border: none;
	background-color: #5f748a;
	color: white;
	border-radius: 5px;
	padding: .75rem 1.5rem;
	margin: 0 0 2rem 2%;
	width: 96%;
	max-width: 15rem;
	font-family: "Poppins";
}
form label.top input:required{
	border-left: red solid 4px;
}
form label.top input:required:valid{
	border-left: green solid 4px;
}
#information{
	width: 95%;
	margin:10px 5px;
	min-height: 75px;
	outline: none;
	resize: none;
	font-family: "Poppins";
	font-size: 0.8rem;
}
.input-top{
	width: 90%;
	
}

select#region.top{
	margin-top: 10px;
}
#ratingvalue{
	display: flex;
	justify-content: center;
	font-size: 1.3rem;
	color: blue;
}
/****thanks*****/
.thanks{
	font-family: "Yaldevi";
	font-size: 1.8rem;
	text-align: center;
	margin-top: 10px;
	padding-top: 100px;
}


