@import url('https://fonts.googleapis.com/css2?family=Yaldevi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Yaldevi&display=swap');


body {
	font-size: 16px;
}

header,footer {
	background-color: #dd97eb;
	display: flex;
	flex-flow: column;
	text-align: center;
	justify-content: center;
	padding: 10px;
}

h1 {
	font-size: 1.8rem;
	font-family: "Poppins";
}
h2 {
	color: black;
	font-family: "Poppins";
	font-size: 1.6rem;
}
p{
	font-size: 1.1rem;
	font-family: "Yaldevi";
}

nav {
	background-color: #5f748a;
	text-align: center;
	font-family: "Yaldevi";
	
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 1rem;
}

main {
	display: grid;
	grid-template-columns: 1fr;
	
}
main article {
	margin: 0.2rem;
	border: 1px solid #bbb;
	padding: 0 3rem;
	background-color: #eee;
}

footer {
	height: 2rem;
	font-size: 0.95rem;
	font-family: "Poppins";
	display: block;
	text-align: center;
	font-weight: bold;
	padding-top: 1rem;
}
nav a:hover{
	background-color: #dbaacc;
	color: #5f748a;
}

